@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the cicdfirst website!</h1>
    <h2>This website is deployed by using the github action's deployment pipeline.</h2>
    <h3>We are deploying only changed files using '-useCheckSum' for MSDeploy.</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
